.logotype {
    margin-top: 130px;
}

.logotype_photo {
    margin-bottom: 30px;
}

.logotype_name {
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    color: #1A547B;
    justify-content: center;
}

.login {
    position: relative;
}

.login--text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 400px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 0.07em;
    color: #1A547B;
}

// [type="checkbox"]:checked,
// [type="checkbox"]:not(:checked) {
//     position: absolute;
//     left: -9999px;
//     z-index: -1;
// }

.checkbox:checked+label,
.checkbox:not(:checked)+label {
    position: relative;
    display: block;
    text-align: center;
    width: 75px;
    height: 20px;
    border-radius: 20px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: #E07753;
}

.checkbox:checked+label:before,
.checkbox:not(:checked)+label:before {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #1A547B;
    background-color: #1A547B;
    background-image: url(/arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'unicons';
    content: '';
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
}

// input:focus {
//     outline: none;
//     border: 0px;
// }

.checkbox:checked+label:before {
    transform: translateX(55px) rotate(-270deg);
}

.card--3d--wrap {
    position: relative;
    width: 400px;
    max-width: 100%;
    height: 430px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 60px;
}

.card--3d--wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    background-color: #E9E9E9;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    position: absolute;
    border-radius: 30px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.checkbox:checked~.card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}

.center-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
}

.title {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    letter-spacing: 0.05em;
    color: #1A547B;
    justify-content: center;
    align-items: center;
}

.form-group {
    position: relative;
    display: block;
    margin-bottom: 30px;
    padding: 0;
}

.form-style {
    padding-left: 20px;
    width: 320px;
    height: 60px;
    font-weight: 700;
    border-radius: 20px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    outline: none;
    color: #A8A8A8;
    background-color: white;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.form-style:focus,
.form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #ffeba7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input::-moz-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-moz-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input::-webkit-input-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus:-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus:-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.btn {
    border-radius: 20px;
    height: 60px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 70px;
    padding: 0;
    line-height: 22px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #1A547B;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.712);
}

.btn:active,
.btn:focus {
    background-color: #1A547B;
    color: white;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}

.btn:hover {
    background-color: #1A547B;
    color: white;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}

.title-recovery {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 30px;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    letter-spacing: 0.05em;
    color: #1A547B;
    justify-content: center;
    align-items: center;
}

.form-group-recovery {
    margin-top: 70px;
    margin-bottom: 50px;
}